html,body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@font-face{
  font-family: akira;
  src: url('akira.otf') format('truetype');
}
@font-face{
  font-family: kgred;
  src: url('red.ttf') format('truetype');
}
@font-face{
  font-family: alte;
  src: url('alte.ttf') format('truetype');
}

@media only screen and (orientation: landscape) {
         .homee{
  background-image: url('/16f339d5fac6bddddd923a01979e2964.gif');
}
.about{
  background-image: url('/b90acfa130e90e678cf51941d196448f.gif');
}
.wait{
  background-image: url('/e7c0f3e93952b5afd8668cc83087ac09.gif');
}
      }


section{
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
p{
  margin: 0;
}
h1{
  margin: 0;
}
nav{
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav a{
  margin: 0 20px;
  text-decoration: none;
  color: #fff;
  font-family: alte;
}
.homee{
  background-image: url('/03.gif');
}
.about{
  background-image: url('/710583faccd12475be2a922906ddd356.gif');
}
.wait{
  background-image: url('/fc8e8c72cede3ef9c1fdeac9953c3243.gif');
  flex-direction: column;
}

.homee div{
  text-align: center;
}
.homee div h1{
  font-family: akira;
  color: #fff;
}
.homee div p{
  font-family: kgred;
  color: #0ef;
}

.about p{
  text-align: center;
  font-family: kgred;
  color: #fff;
}

.wait h1{
  margin-top: 30px;
  font-family: akira;
  color: #fff;
}
.wait h2{
  font-family: akira;
  color: #fff;
}

.wrapper .icon{
  text-align: center;
  position: relative;
  background-color: #ffffff;
  border-radius: 50%;
  margin: 10px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 22px;
  display: inline-block;
  align-items: center;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  color: #333;
  text-decoration: none;
}
.wrapper .tooltip {
  position: absolute;
  top: 0;
  line-height: 1.5;
  font-size: 14px;
  background-color: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}
.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background-color: #3b5999;
  color: #ffffff;
}
.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background-color: #46c1f6;
  color: #ffffff;
}
.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background-color: #e1306c;
  color: #ffffff;
}
.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background-color: #333333;
  color: #ffffff;
}
.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
  background-color: #de463b;
  color: #ffffff;
}

@media screen and (min-width: 1024px) {
                 .homee{
  background-image: url('/16f339d5fac6bddddd923a01979e2964.gif');
}
.about{
  background-image: url('/b90acfa130e90e678cf51941d196448f.gif');
}
.wait{
  background-image: url('/e7c0f3e93952b5afd8668cc83087ac09.gif');
}
      }